.MealsList table {
  width: 100%;
}

.MealsListCTA {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;

  button {
    font-family: "Montserrat";
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;


    &:hover {
      color: #F7CA00;
    }

    &.Selected {
      color: #F7CA00;
    }
  }
}

.MealsListTable {
  text-align: start;
}

.MealsListTable th {
  background: #ededed91;
  padding: 10px 5px;
  text-align: start;
}

.MealsListTable td {
  padding: 8px 5px;
}