.HeaderNavigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;

  & > *:not(:first-child){
    flex-basis: 100%;
  }
}

.HeaderNavigation a {
	padding: 15px;
	width: 100%;
}

.HeaderNavigation div a:first-child {
	display: block;

	img {
		display: block;
		object-fit: cover;
	}
}

.HeaderNavigation_links {
	display: flex;
  column-gap: 15px;

	a {
		display: flex;
    justify-content: center;
    align-items: center;
		border: 1px solid rgb(40 45 43 / 24%);
		border-radius: 20px;
		font-weight: bolder;
		color: #282d2bd1;

		&:hover {
			background-color: #282d2bd1;
			color: white;
		}
	}
}

.active {
	background-color: #282d2bd1;
	color: white;
}
