.Slider {
  height: 500px;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 200%);
    z-index: 1000;
    background-color: yellow;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 5px #FFFFFF;
    box-shadow: 0px 0px 15px 1px #000000;
    transition-duration: 0.3s;

    &:hover {
      color: rgba(40, 45, 43, 0.8196078431);
      background-color: white;
    }
  }
}